.fabric/
.vscode/
crash-reports/
data/
local/
logs/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
icon.png
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json